.editable {
  display: inline-block;
  min-width: 350px;
  position: relative;
}

.editable input {
  width: 100%;
  line-height: 20px;
}

.editable .group {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
}
.editable button {
  margin-top: 4px;
  display: inline-block;
  vertical-align: middle;
}

.editable input:hover,
.editable input:focus {
}

.editable input:focus {
}
